<style>
  .table { background-color: #af8a93;} .table th { vertical-align: middle; } h1 { color: #774a82; } hr {
  background-color: #ddd; } .jumbotron { min-height: 100vh; 
  } .button-color{ background-color: #cdb3d4; font-family: 'Quicksand', sans-serif;}
</style>

<div>
    <button class="btn button-color" onclick="history.back()">Atras</button>
</div>
<div class="jumbotron">
  <h1>Vista de Productos</h1>
  <br />

  <% if(hayProductos){ %> 
    <div class="table-responsive">
      <table class="table">
        <tr>
          <th>Nombre</th>
          <th>Precio</th>
          <th>Foto</th>
          <th></th>
        </tr>
        <% productos.forEach(producto => { %> 
          <tr>
            <td><%- producto.title %></td>
            <td>$<%- producto.price %> </td>
            <td><img width="50" src="<%- producto.thumbnail %>" alt="Not found" /></td>
            <td><button class="btn button-color" onclick="borrarProducto(<%- producto.id %>)"><i class="bi bi-trash"></button></i></td>
          </tr>
        <% }); %> 
      </table>
    </div>
  <% }else{ %> 
    <h3 class="alert alert-warning">No se encontraron productos</h3>
  <% } %> 
</div>

<script>
  function borrarProducto(id){
    fetch(`/api/productos/borrar/${id}`, {
      method: 'DELETE'
    }).then(res => {
      if(!res.ok) throw res;
      return res;
    }).then(res =>{
      alert(`Se ha borrado el producto con id ${id}`);
    }).catch(res => {
      console.error(err);
      err.text().then(errorText =>{
        alert(`Ocurrio un error a borrar el producto con id ${id}:\n${err.status}\n${errorText}`);
      });
    }).finally(()=>{
      window.location.reload();
    });
  }
</script>